[Desktop Entry]
Categories=Utility;
Comment[en_GB]=
Comment=
Encoding=UTF-8
Exec=sh technicsolderhelper
GenericName[en_GB]=
GenericName=
MimeType=
Name[en_GB]=SolderHelper
Name=SolderHelper
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
